body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    

}

.first-container{
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    position:relative;
  
}
.result{
    margin-top: 10%;
    margin-bottom: 2%;
    position: relative;
    width: 100%;
    font-size: 6em;
    
}

.second-container{
width: 100%;
height: 16vh;
display: flex;
flex-direction: row;
justify-content: center;

}

.subtract{
    border-radius: 10%;
    font-size: 4em;
    color: white;
    background-color: #A9A9A9;
    width:10%;
    border-style: none;
margin-right: 3%;
}

.incrementer{
    border-radius: 10%;
    text-align: center;
    font-size: 4em;
    width: 18%;
    margin-right: 3%;
    border: #A9A9A9 solid 4px;

}

.add{
    border-radius: 10%;
    font-size: 4em;
    color: white;
    background-color: #A9A9A9;
    width: 10%;
    border: none;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}