
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.numberBox {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}


.adjustContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#plus, #minus {
    border: 1px solid black;
}